In [1]:
import pandas as pd

C:\Users\nigel.zannou\AppData\Local\Temp\ipykernel_25344\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
dataset_cot_sociale = pd.read_csv('taux_cotisations_sociales_par_pays.csv')
display(dataset_cot_sociale)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 67
0,Aruba,ABW,Cotisations sociales (% des revenus),GC.REV.SOCL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,AFE,Cotisations sociales (% des revenus),GC.REV.SOCL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,Cotisations sociales (% des revenus),GC.REV.SOCL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.568655,0.586901,0.646586,0.600920,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,AFW,Cotisations sociales (% des revenus),GC.REV.SOCL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,Cotisations sociales (% des revenus),GC.REV.SOCL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,1.963361,5.754595,6.099967,5.001934,3.441013,4.661653,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,Cotisations sociales (% des revenus),GC.REV.SOCL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,"Yémen, Rép. du",YEM,Cotisations sociales (% des revenus),GC.REV.SOCL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263,Afrique du Sud,ZAF,Cotisations sociales (% des revenus),GC.REV.SOCL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,2.021147,1.847325,1.956463,1.792013,1.901649,1.998500,1.827091,1.249091,NaN,NaN
264,Zambie,ZMB,Cotisations sociales (% des revenus),GC.REV.SOCL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265,Zimbabwe,ZWE,Cotisations sociales (% des revenus),GC.REV.SOCL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.081677,3.889687,3.253414,2.836464,NaN,NaN,NaN,NaN,NaN

In [3]:
dataset_cot_sociale = pd.melt(
                                        dataset_cot_sociale,
                                        id_vars = ["Country Name","Country Code","Indicator Name","Indicator Code","Unnamed: 67"],
                                        var_name = "Year",
                                        value_name="Cotisation sociale"    
                                                                )
display(dataset_cot_sociale)

,Country Name,Country Code,Indicator Name,Indicator Code,Unnamed: 67,Year,Cotisation sociale
0,Aruba,ABW,Cotisations sociales (% des revenus),GC.REV.SOCL.ZS,NaN,1960,NaN
1,NaN,AFE,Cotisations sociales (% des revenus),GC.REV.SOCL.ZS,NaN,1960,NaN
2,Afghanistan,AFG,Cotisations sociales (% des revenus),GC.REV.SOCL.ZS,NaN,1960,NaN
3,NaN,AFW,Cotisations sociales (% des revenus),GC.REV.SOCL.ZS,NaN,1960,NaN
4,Angola,AGO,Cotisations sociales (% des revenus),GC.REV.SOCL.ZS,NaN,1960,NaN
...,...,...,...,...,...,...,...
16753,Kosovo,XKX,Cotisations sociales (% des revenus),GC.REV.SOCL.ZS,NaN,2022,NaN
16754,"Yémen, Rép. du",YEM,Cotisations sociales (% des revenus),GC.REV.SOCL.ZS,NaN,2022,NaN
16755,Afrique du Sud,ZAF,Cotisations sociales (% des revenus),GC.REV.SOCL.ZS,NaN,2022,NaN
16756,Zambie,ZMB,Cotisations sociales (% des revenus),GC.REV.SOCL.ZS,NaN,2022,NaN
16757,Zimbabwe,ZWE,Cotisations sociales (% des revenus),GC.REV.SOCL.ZS,NaN,2022,NaN

In [4]:
dataset_cot_sociale = dataset_cot_sociale.drop(['Indicator Name','Indicator Code','Unnamed: 67'],axis=1)
display(dataset_cot_sociale)

         Country Name Country Code  Year  Cotisation sociale
0               Aruba          ABW  1960                 NaN
1                 NaN          AFE  1960                 NaN
2         Afghanistan          AFG  1960                 NaN
3                 NaN          AFW  1960                 NaN
4              Angola          AGO  1960                 NaN
...               ...          ...   ...                 ...
16753          Kosovo          XKX  2022                 NaN
16754  Yémen, Rép. du          YEM  2022                 NaN
16755  Afrique du Sud          ZAF  2022                 NaN
16756          Zambie          ZMB  2022                 NaN
16757        Zimbabwe          ZWE  2022                 NaN

[16758 rows x 4 columns]

In [5]:
dataset_cot_sociale.to_csv('dataset_cot_sociale.csv')