In [11]:
import pandas as pd

In [12]:
dataset_population_active = pd.read_csv('population_15_64.csv')
display(dataset_population_active)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 67
0,Aruba,ABW,"Population ages 15-64, total",SP.POP.1564.TO,29759.0,30466.0,30940.0,31424.0,31924.0,32437.0,...,72123.0,72305.0,72392.0,72417.0,72394.0,72341.0,72171.0,72080.0,71975.0,NaN
1,Africa Eastern and Southern,AFE,"Population ages 15-64, total",SP.POP.1564.TO,69041513.0,70788350.0,72615478.0,74478562.0,76422061.0,78429991.0,...,316539651.0,326346730.0,336114935.0,345897727.0,356289607.0,367127397.0,378423525.0,389954983.0,401677099.0,NaN
2,Afghanistan,AFG,"Population ages 15-64, total",SP.POP.1564.TO,4788899.0,4877387.0,4971702.0,5067343.0,5162530.0,5255725.0,...,16802817.0,17485014.0,18038552.0,18706224.0,19401609.0,20127704.0,20957369.0,21722439.0,22404909.0,NaN
3,Africa Western and Central,AFW,"Population ages 15-64, total",SP.POP.1564.TO,53856591.0,54896072.0,55946723.0,56987671.0,57977426.0,59032683.0,...,210271137.0,216382227.0,222753060.0,229432321.0,236311849.0,243372034.0,250733732.0,258324761.0,266109262.0,NaN
4,Angola,AGO,"Population ages 15-64, total",SP.POP.1564.TO,2929489.0,2947964.0,2961986.0,2973027.0,2977902.0,2979781.0,...,14019670.0,14540242.0,15083377.0,15651045.0,16229250.0,16823353.0,17417386.0,18020088.0,18643225.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,"Population ages 15-64, total",SP.POP.1564.TO,488575.0,494796.0,506454.0,519626.0,535160.0,552563.0,...,1190784.0,1178747.0,1181261.0,1197801.0,1207038.0,1205042.0,1211421.0,1216060.0,1206570.0,NaN
262,"Yemen, Rep.",YEM,"Population ages 15-64, total",SP.POP.1564.TO,3074835.0,3133983.0,3193774.0,3249378.0,3302920.0,3355412.0,...,15313249.0,15829761.0,16341270.0,16856674.0,17376285.0,17905849.0,18431836.0,18944277.0,19490300.0,NaN
263,South Africa,ZAF,"Population ages 15-64, total",SP.POP.1564.TO,8948630.0,9231161.0,9526028.0,9838331.0,10151908.0,10463707.0,...,36262376.0,37041896.0,37274755.0,37200003.0,37537017.0,37933572.0,38374016.0,38815753.0,39264163.0,NaN
264,Zambia,ZMB,"Population ages 15-64, total",SP.POP.1564.TO,1597324.0,1642027.0,1687754.0,1733446.0,1780051.0,1829717.0,...,8267559.0,8583354.0,8909618.0,9247773.0,9597499.0,9959989.0,10332596.0,10709967.0,11088982.0,NaN
265,Zimbabwe,ZWE,"Population ages 15-64, total",SP.POP.1564.TO,1878370.0,1923980.0,1969336.0,2013151.0,2067992.0,2137089.0,...,7454319.0,7647871.0,7849943.0,8056252.0,8264830.0,8473478.0,8691596.0,8915327.0,9146706.0,NaN

In [14]:
dataset_population_active_unpivot = pd.melt(
                                        dataset_population_active,
                                        id_vars = ["Country Name","Country Code","Indicator Name","Indicator Code","Unnamed: 67"],
                                        var_name = "Year",
                                        value_name="Population_15_64_rate"    
                                                                )
display(dataset_population_active_unpivot)

,Country Name,Country Code,Indicator Name,Indicator Code,Unnamed: 67,Year,Population_15_64_rate
0,Aruba,ABW,"Population ages 15-64, total",SP.POP.1564.TO,NaN,1960,29759.0
1,Africa Eastern and Southern,AFE,"Population ages 15-64, total",SP.POP.1564.TO,NaN,1960,69041513.0
2,Afghanistan,AFG,"Population ages 15-64, total",SP.POP.1564.TO,NaN,1960,4788899.0
3,Africa Western and Central,AFW,"Population ages 15-64, total",SP.POP.1564.TO,NaN,1960,53856591.0
4,Angola,AGO,"Population ages 15-64, total",SP.POP.1564.TO,NaN,1960,2929489.0
...,...,...,...,...,...,...,...
16753,Kosovo,XKX,"Population ages 15-64, total",SP.POP.1564.TO,NaN,2022,1206570.0
16754,"Yemen, Rep.",YEM,"Population ages 15-64, total",SP.POP.1564.TO,NaN,2022,19490300.0
16755,South Africa,ZAF,"Population ages 15-64, total",SP.POP.1564.TO,NaN,2022,39264163.0
16756,Zambia,ZMB,"Population ages 15-64, total",SP.POP.1564.TO,NaN,2022,11088982.0
16757,Zimbabwe,ZWE,"Population ages 15-64, total",SP.POP.1564.TO,NaN,2022,9146706.0

In [15]:
dataset_population_active = dataset_population_active_unpivot.drop(['Indicator Name','Indicator Code','Unnamed: 67'],axis=1)
display(dataset_population_active)

                      Country Name Country Code  Year  Population_15_64_rate
0                            Aruba          ABW  1960                29759.0
1      Africa Eastern and Southern          AFE  1960             69041513.0
2                      Afghanistan          AFG  1960              4788899.0
3       Africa Western and Central          AFW  1960             53856591.0
4                           Angola          AGO  1960              2929489.0
...                            ...          ...   ...                    ...
16753                       Kosovo          XKX  2022              1206570.0
16754                  Yemen, Rep.          YEM  2022             19490300.0
16755                 South Africa          ZAF  2022             39264163.0
16756                       Zambia          ZMB  2022             11088982.0
16757                     Zimbabwe          ZWE  2022              9146706.0

[16758 rows x 4 columns]

In [16]:
dataset_population_active.to_csv('dataset_population_active.csv')