In [13]:
import pandas as pd

In [14]:
dataset_women_age_ratios = pd.read_csv("d:/Formations/Data_Analysis/Data_Analyst_Fullstack/Projects/Demo_day/0_Source_Datasets/Female_population_between_19_and_44_statistics_2000_2021.csv")
display(dataset_women_age_ratios)

,Series Name,Series Code,Country Name,Country Code,2000 [YR2000],2001 [YR2001],2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],...,2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021]
0,"Population ages 15-19, female (% of female pop...",SP.POP.1519.FE.5Y,Afghanistan,AFG,9.89889942381122,9.90371244600572,9.95736801335919,10.0447231318693,10.1634486873253,10.3064921662956,...,11.5774395443718,11.6630772381261,11.7040590525009,11.704731075224,11.6916096323262,11.6845613572556,11.6714597899098,11.6423367423771,11.5933953079705,11.5370624936522
1,"Population ages 15-19, female (% of female pop...",SP.POP.1519.FE.5Y,Albania,ALB,9.69977481085171,9.76026977430166,9.78576176662737,9.78776649501901,9.78034853839262,9.77931475186769,...,9.23785694841078,8.9311695112497,8.60160967544555,8.26234592713781,7.87667632739928,7.51994613490435,7.23232418909545,6.91817435643026,6.61302235776542,6.38930397443928
2,"Population ages 15-19, female (% of female pop...",SP.POP.1519.FE.5Y,Algeria,DZA,12.1738698144347,12.152468589607,12.0637890944866,11.9095882298891,11.6935162192278,11.4211650086814,...,8.86560604869362,8.39355514656931,7.91977566708316,7.51464763989439,7.19496497374136,6.95668528446028,6.83970223498819,6.83937207715763,6.91042561022468,7.04593612635039
3,"Population ages 15-19, female (% of female pop...",SP.POP.1519.FE.5Y,American Samoa,ASM,8.55907881842363,8.58653728686364,8.63584724285589,8.72339679534378,8.89158918005072,9.1852639036486,...,10.8272734088013,10.3741206363654,9.87796675314692,9.40536111436264,8.99714376388448,8.6663301362948,8.38205022643063,8.14134364752375,7.93776994649419,7.75520970720127
4,"Population ages 15-19, female (% of female pop...",SP.POP.1519.FE.5Y,Andorra,AND,5.15843078083742,5.12404536341236,5.15758891888719,5.09745338726271,4.94009741801555,4.74093298205602,...,4.76692050387873,4.7673645023851,4.94460575649085,5.14244733807689,5.26836059867734,5.3735273545184,5.3826893144752,5.273122408437,5.15038926597435,5.05514111730255
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1596,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1597,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1598,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1599,Data from database: World Development Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1600,Last Updated: 12/18/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
list(dataset_women_age_ratios["Series Name"].unique())

['Population ages 15-19, female (% of female population)',
 'Population ages 20-24, female (% of female population)',
 'Population ages 25-29, female (% of female population)',
 'Population ages 30-34, female (% of female population)',
 'Population ages 35-39, female (% of female population)',
 'Population ages 40-44, female (% of female population)',
 nan,
 'Data from database: World Development Indicators',
 'Last Updated: 12/18/2023']

In [16]:
dataset_women_15_19 = dataset_women_age_ratios[dataset_women_age_ratios['Series Name'] == "Population ages 15-19, female (% of female population)"]
display(dataset_women_15_19)
dataset_women_20_24 = dataset_women_age_ratios[dataset_women_age_ratios['Series Name'] == "Population ages 20-24, female (% of female population)"]
display(dataset_women_20_24)
dataset_women_25_29 = dataset_women_age_ratios[dataset_women_age_ratios['Series Name'] == "Population ages 25-29, female (% of female population)"]
display(dataset_women_25_29)
dataset_women_30_34 = dataset_women_age_ratios[dataset_women_age_ratios['Series Name'] == "Population ages 30-34, female (% of female population)"]
display(dataset_women_30_34)
dataset_women_35_39 = dataset_women_age_ratios[dataset_women_age_ratios['Series Name'] == "Population ages 35-39, female (% of female population)"]
display(dataset_women_35_39)
dataset_women_40_44 = dataset_women_age_ratios[dataset_women_age_ratios['Series Name'] == "Population ages 40-44, female (% of female population)"]
display(dataset_women_40_44)

,Series Name,Series Code,Country Name,Country Code,2000 [YR2000],2001 [YR2001],2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],...,2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021]
0,"Population ages 15-19, female (% of female pop...",SP.POP.1519.FE.5Y,Afghanistan,AFG,9.89889942381122,9.90371244600572,9.95736801335919,10.0447231318693,10.1634486873253,10.3064921662956,...,11.5774395443718,11.6630772381261,11.7040590525009,11.704731075224,11.6916096323262,11.6845613572556,11.6714597899098,11.6423367423771,11.5933953079705,11.5370624936522
1,"Population ages 15-19, female (% of female pop...",SP.POP.1519.FE.5Y,Albania,ALB,9.69977481085171,9.76026977430166,9.78576176662737,9.78776649501901,9.78034853839262,9.77931475186769,...,9.23785694841078,8.9311695112497,8.60160967544555,8.26234592713781,7.87667632739928,7.51994613490435,7.23232418909545,6.91817435643026,6.61302235776542,6.38930397443928
2,"Population ages 15-19, female (% of female pop...",SP.POP.1519.FE.5Y,Algeria,DZA,12.1738698144347,12.152468589607,12.0637890944866,11.9095882298891,11.6935162192278,11.4211650086814,...,8.86560604869362,8.39355514656931,7.91977566708316,7.51464763989439,7.19496497374136,6.95668528446028,6.83970223498819,6.83937207715763,6.91042561022468,7.04593612635039
3,"Population ages 15-19, female (% of female pop...",SP.POP.1519.FE.5Y,American Samoa,ASM,8.55907881842363,8.58653728686364,8.63584724285589,8.72339679534378,8.89158918005072,9.1852639036486,...,10.8272734088013,10.3741206363654,9.87796675314692,9.40536111436264,8.99714376388448,8.6663301362948,8.38205022643063,8.14134364752375,7.93776994649419,7.75520970720127
4,"Population ages 15-19, female (% of female pop...",SP.POP.1519.FE.5Y,Andorra,AND,5.15843078083742,5.12404536341236,5.15758891888719,5.09745338726271,4.94009741801555,4.74093298205602,...,4.76692050387873,4.7673645023851,4.94460575649085,5.14244733807689,5.26836059867734,5.3735273545184,5.3826893144752,5.273122408437,5.15038926597435,5.05514111730255
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,"Population ages 15-19, female (% of female pop...",SP.POP.1519.FE.5Y,Sub-Saharan Africa,SSF,10.7827387977964,10.7965553985172,10.8041947061545,10.8045627870906,10.7945979701468,10.7679473991595,...,10.4657432980734,10.4307773223939,10.4111702173018,10.4029195995566,10.4013863644064,10.4189999999139,10.4535357508528,10.4915547713153,10.5322969364104,10.5785150530678
262,"Population ages 15-19, female (% of female pop...",SP.POP.1519.FE.5Y,Sub-Saharan Africa (excluding high income),SSA,10.7829567644663,10.7968104398994,10.8044623250089,10.8048173214431,10.7948515233441,10.7682033737636,...,10.4659370140541,10.4309915991086,10.4114156977287,10.4031957013412,10.4016893064936,10.4193202644615,10.4538572939948,10.4918753830028,10.5326129360973,10.5788226645879
263,"Population ages 15-19, female (% of female pop...",SP.POP.1519.FE.5Y,Sub-Saharan Africa (IDA & IBRD countries),TSS,10.7827387977964,10.7965553985172,10.8041947061545,10.8045627870906,10.7945979701468,10.7679473991594,...,10.4657432980734,10.4307773223939,10.4111702173018,10.4029195995566,10.4013863644064,10.4189999999139,10.4535357508528,10.4915547713153,10.5322969364104,10.5785150530678
264,"Population ages 15-19, female (% of female pop...",SP.POP.1519.FE.5Y,Upper middle income,UMC,8.9130738471556,8.98279700925698,9.051123605862,9.12107957964958,9.19503455623893,9.24876029513813,...,7.21256625226592,7.02157535923934,6.8484744660236,6.70540437109491,6.58517398175628,6.47283773225722,6.38271552893521,6.32198057900944,6.27907577769431,6.26209072483222
265,"Population ages 15-19, female (% of female pop...",SP.POP.1519.FE.5Y,World,WLD,9.16435778576546,9.19246205706741,9.21419189798547,9.23067381010759,9.24482565671932,9.24682506637705,...,8.20426078844273,8.08375499521564,7.98042139791294,7.90069313339739,7.83981649514934,7.78897371155556,7.74952465367451,7.72075100649434,7.69438318172929,7.67690986902802

,Series Name,Series Code,Country Name,Country Code,2000 [YR2000],2001 [YR2001],2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],...,2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021]
266,"Population ages 20-24, female (% of female pop...",SP.POP.2024.FE.5Y,Afghanistan,AFG,8.40455979573872,8.33502158546072,8.26515132681095,8.20263562681155,8.15227325701993,8.19368200044165,...,8.95423840638975,9.17023618985925,9.40548360374494,9.5687320508833,9.65779746264559,9.75806771176973,9.83250658056826,9.88572542574947,9.94960562616151,9.97643765111019
267,"Population ages 20-24, female (% of female pop...",SP.POP.2024.FE.5Y,Albania,ALB,7.94067546772091,7.91148093593678,7.91412947623247,7.93669891075926,7.97469233159741,8.02033450837058,...,8.54949204912533,8.67371670600794,8.74854465150078,8.76098917065759,8.69991555271202,8.5485424708106,8.30886388392845,8.04770491597675,7.78650760616197,7.44812791556285
268,"Population ages 20-24, female (% of female pop...",SP.POP.2024.FE.5Y,Algeria,DZA,10.5056950530292,10.720020905104,10.9175441206366,11.0726384794336,11.1703474136123,11.192815948732,...,9.725114281353,9.39269460426313,9.05342955895002,8.69805446337068,8.32095613332952,7.92867899149717,7.50883662857431,7.09218773088654,6.74862215879141,6.48862080231682
269,"Population ages 20-24, female (% of female pop...",SP.POP.2024.FE.5Y,American Samoa,ASM,7.60009799804004,7.51496535716155,7.44559993008826,7.37877353528978,7.31191885038039,7.22989727240524,...,8.59884549066646,9.20985266511178,9.66849236091092,9.89113894416481,9.84806410663282,9.55073195355881,9.09016055990119,8.57226940216934,8.06669961535982,7.62551657434274
270,"Population ages 20-24, female (% of female pop...",SP.POP.2024.FE.5Y,Andorra,AND,6.16591223437697,6.14793614839529,6.41507219157178,6.54621813210818,6.54654491676051,6.42260757867694,...,5.26795245889972,5.21182782000651,5.05172948439658,4.89073881373569,4.82840236686391,4.89213171862356,4.99966163632672,5.18645920829833,5.3315653349788,5.38482423364836
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
527,"Population ages 20-24, female (% of female pop...",SP.POP.2024.FE.5Y,Sub-Saharan Africa,SSF,8.95936308765777,9.03509905287679,9.10378260362613,9.16035368576888,9.20196591184385,9.22731513468452,...,9.12846947827341,9.08467975911847,9.04281512805709,9.01167983913961,8.98921876300141,8.96572170421469,8.94694385898276,8.9432615492943,8.9538170231522,8.97399235193276
528,"Population ages 20-24, female (% of female pop...",SP.POP.2024.FE.5Y,Sub-Saharan Africa (excluding high income),SSA,8.95927617055335,9.03503406103027,9.10375404688508,9.16037945944688,9.20203249909527,9.22741668144936,...,9.1286074273999,9.08481541437859,9.0429379359288,9.01178988280996,8.98932019224942,8.96582536453284,8.94706560787275,8.94341130933013,8.95399294672377,8.97419225249797
529,"Population ages 20-24, female (% of female pop...",SP.POP.2024.FE.5Y,Sub-Saharan Africa (IDA & IBRD countries),TSS,8.95936308765777,9.03509905287679,9.10378260362613,9.16035368576888,9.20196591184386,9.22731513468452,...,9.12846947827341,9.08467975911847,9.04281512805709,9.01167983913961,8.98921876300141,8.96572170421469,8.94694385898276,8.9432615492943,8.9538170231522,8.97399235193276
530,"Population ages 20-24, female (% of female pop...",SP.POP.2024.FE.5Y,Upper middle income,UMC,8.10377787439117,8.11417945240584,8.22943206596653,8.35439321714896,8.41693372356117,8.47102102862384,...,8.45775944542112,8.13482941255504,7.79884545644722,7.42481285160116,7.11372137057065,6.90596375368381,6.73627602996728,6.58697833049609,6.46980115913651,6.37934123211046
531,"Population ages 20-24, female (% of female pop...",SP.POP.2024.FE.5Y,World,WLD,8.26917003934147,8.30345613849704,8.37558325655329,8.44817340709666,8.49047849881415,8.52027227299585,...,8.44397359139591,8.29233699703109,8.12745261441699,7.9457808426233,7.7884838066525,7.67227712556388,7.5757486284914,7.49497743606057,7.43714163926688,7.4022868597785

,Series Name,Series Code,Country Name,Country Code,2000 [YR2000],2001 [YR2001],2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],...,2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021]
532,"Population ages 25-29, female (% of female pop...",SP.POP.2529.FE.5Y,Afghanistan,AFG,7.02239137311269,6.99762467010158,6.97202242046159,6.94505704170837,6.91380633958681,6.942262198815,...,6.8226325849901,6.96799826017105,7.16235165008164,7.31021813351695,7.40755964245305,7.55113535144069,7.70633814564396,7.86872668499179,8.05632593064394,8.20337448755223
533,"Population ages 25-29, female (% of female pop...",SP.POP.2529.FE.5Y,Albania,ALB,7.35694754956436,7.20253127155155,7.05473855431096,6.92044852976563,6.80607467085693,6.71450793757016,...,6.76054091262967,6.86918416058884,7.01075331655965,7.21236919228356,7.44730398726259,7.69287008144171,7.92503712205844,8.10250571698121,8.19423040490021,8.19591182533044
534,"Population ages 25-29, female (% of female pop...",SP.POP.2529.FE.5Y,Algeria,DZA,8.86357422565493,8.99145464627547,9.12669241931842,9.27938297071982,9.44925658328776,9.61810277590018,...,9.93451968105248,9.75854653134997,9.53559336562177,9.27114478437011,8.98318582885369,8.69062804155401,8.39829347838139,8.10542662420787,7.81008835572171,7.50163584247381
535,"Population ages 25-29, female (% of female pop...",SP.POP.2529.FE.5Y,American Samoa,ASM,7.45135097298054,7.32124469886036,7.22887354714672,7.15262438203429,7.07769794308256,7.00141693234148,...,5.8906214858685,5.97682841268938,6.21889113096954,6.64871824885871,7.24968264043161,7.95355880868248,8.64759160148209,9.19027999663668,9.47633066162408,9.45880594390223
536,"Population ages 25-29, female (% of female pop...",SP.POP.2529.FE.5Y,Andorra,AND,8.70269080849994,8.48191738471663,8.50451930977814,8.58689065208507,8.69028397758571,8.78848649286304,...,6.7966692762081,6.29042988378841,5.99892876272094,5.75976600950586,5.66376609815524,5.7589181627419,5.84827772890303,5.83576656933722,5.79238272788142,5.68735697570688
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
793,"Population ages 25-29, female (% of female pop...",SP.POP.2529.FE.5Y,Sub-Saharan Africa,SSF,7.40873948713762,7.3986296648546,7.40747530430054,7.44205918261394,7.4988473513806,7.56776611601823,...,7.83560080449822,7.83923080749438,7.83779459921881,7.82833782987938,7.80785706215949,7.78100869897886,7.7542159583239,7.72793303310186,7.71519291529264,7.71696029348695
794,"Population ages 25-29, female (% of female pop...",SP.POP.2529.FE.5Y,Sub-Saharan Africa (excluding high income),SSA,7.40855708123766,7.39842333472481,7.40726185870338,7.44185156897943,7.49865048685181,7.56759073607877,...,7.83563120390608,7.83925852019159,7.83782866497102,7.82837999548582,7.80790162760923,7.78105524783063,7.75426184485,7.72796929654046,7.71521943352517,7.71698162020497
795,"Population ages 25-29, female (% of female pop...",SP.POP.2529.FE.5Y,Sub-Saharan Africa (IDA & IBRD countries),TSS,7.40873948713762,7.3986296648546,7.40747530430054,7.44205918261394,7.4988473513806,7.56776611601823,...,7.83560080449822,7.83923080749438,7.83779459921881,7.82833782987938,7.80785706215949,7.78100869897886,7.7542159583239,7.72793303310186,7.71519291529264,7.71696029348695
796,"Population ages 25-29, female (% of female pop...",SP.POP.2529.FE.5Y,Upper middle income,UMC,8.85044215330345,8.54601132747096,8.25230647261347,7.97391472912104,7.77400685372575,7.69322163853299,...,8.17636057059096,8.25161400063059,8.33664320857944,8.40588115932744,8.34157497352917,8.093406924424,7.79827713947314,7.49415815579459,7.15713754805575,6.88624661774718
797,"Population ages 25-29, female (% of female pop...",SP.POP.2529.FE.5Y,World,WLD,8.12144535182591,7.99301103754025,7.86880895983949,7.75816547242315,7.69008865054585,7.68076035297798,...,7.98727234015928,8.00705210730874,8.02628115035355,8.03679856029319,7.99783471134867,7.89146929876928,7.76242241770678,7.62444707948533,7.47400420371471,7.34865091180304

,Series Name,Series Code,Country Name,Country Code,2000 [YR2000],2001 [YR2001],2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],...,2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021]
798,"Population ages 30-34, female (% of female pop...",SP.POP.3034.FE.5Y,Afghanistan,AFG,5.75070308107671,5.7459405875485,5.741074641831,5.73633756464797,5.73367149024983,5.77382966806909,...,5.6126572296312,5.61898316770641,5.65447284901159,5.67343822509621,5.68586502178031,5.75447628409917,5.85193303064139,5.97343355520621,6.12898231476982,6.27508760765879
799,"Population ages 30-34, female (% of female pop...",SP.POP.3034.FE.5Y,Albania,ALB,7.26626108104503,7.18788329143257,7.08648319533938,6.96061728989204,6.81953688679606,6.66940251553759,...,5.93249169020458,5.91985083096203,5.96182403910474,6.02732584463616,6.09806188948892,6.19472970145466,6.32057021710484,6.48387887942988,6.72718195022405,7.01250389324972
800,"Population ages 30-34, female (% of female pop...",SP.POP.3034.FE.5Y,Algeria,DZA,7.54835465559525,7.67952200832901,7.80066733895471,7.91311139797518,8.01855530554234,8.11517166472929,...,8.93838355478574,9.02246790264157,9.0631088793044,9.05399678638291,8.99463757167449,8.88819948477919,8.73919565089268,8.55345228031141,8.34155672186756,8.11454432715106
801,"Population ages 30-34, female (% of female pop...",SP.POP.3034.FE.5Y,American Samoa,ASM,7.51959960800784,7.36313024660116,7.22013458009263,7.08250061358297,6.96499013806706,6.86326602904711,...,6.20361346427768,6.00337523939549,5.82684731430768,5.66545709937961,5.53197397651539,5.5002523977789,5.61136270069987,5.90052972336669,6.40135805917872,7.0891585333685
802,"Population ages 30-34, female (% of female pop...",SP.POP.3034.FE.5Y,Andorra,AND,10.2209857915252,9.9649520194677,9.82509684235239,9.79466437419846,9.89511960164444,10.1057764146121,...,9.04277275638744,8.67552762325364,8.27248893524653,7.8746800911213,7.39018447615733,6.85474469573327,6.57914326317927,6.52773889044438,6.53940579500847,6.6027124516788
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1059,"Population ages 30-34, female (% of female pop...",SP.POP.3034.FE.5Y,Sub-Saharan Africa,SSF,6.24852400807568,6.24637869199163,6.23483715061978,6.21534668213511,6.19342745969948,6.17700434829255,...,6.46111888364017,6.51476958970224,6.55877339541547,6.5956679094508,6.62577938596899,6.64877506560295,6.66486780026719,6.67356446581046,6.6766665776396,6.67495178631377
1060,"Population ages 30-34, female (% of female pop...",SP.POP.3034.FE.5Y,Sub-Saharan Africa (excluding high income),SSA,6.24828078192301,6.24615407753618,6.23461261337884,6.2151202744103,6.19319237520667,6.17675087563334,...,6.46094399938527,6.51463470678245,6.55867058446565,6.59559336050958,6.6257316328431,6.64873470378539,6.66482714409547,6.67353136697249,6.6766421954787,6.67493081795905
1061,"Population ages 30-34, female (% of female pop...",SP.POP.3034.FE.5Y,Sub-Saharan Africa (IDA & IBRD countries),TSS,6.24852400807568,6.24637869199163,6.23483715061978,6.21534668213511,6.19342745969949,6.17700434829255,...,6.46111888364017,6.51476958970224,6.55877339541547,6.5956679094508,6.62577938596899,6.64877506560295,6.66486780026719,6.67356446581046,6.6766665776396,6.67495178631377
1062,"Population ages 30-34, female (% of female pop...",SP.POP.3034.FE.5Y,Upper middle income,UMC,8.81402930348588,8.83815266573111,8.86363161564569,8.81073685074031,8.64787190242146,8.40714391306004,...,7.43078052988177,7.5451822820429,7.60728530994417,7.66801819210676,7.74374912266956,7.82025874093853,7.90727753049063,8.00760661486963,8.09746553816533,8.06754346981011
1063,"Population ages 30-34, female (% of female pop...",SP.POP.3034.FE.5Y,World,WLD,7.69659903559787,7.71248366961832,7.72756653482675,7.70417527488126,7.63751701167711,7.53865038836824,...,7.24259332673827,7.31089805386963,7.35284400763369,7.38554340046708,7.42125277633841,7.4557439319435,7.48973505546617,7.52563101409184,7.5545649670703,7.53921268292502

,Series Name,Series Code,Country Name,Country Code,2000 [YR2000],2001 [YR2001],2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],...,2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021]
1064,"Population ages 35-39, female (% of female pop...",SP.POP.3539.FE.5Y,Afghanistan,AFG,4.65441368995515,4.6537912254321,4.65654782699209,4.66139717933893,4.66871243047432,4.70066857234311,...,4.71997341540559,4.73556405114027,4.75814510483684,4.75858982229016,4.73580537793962,4.72390651410791,4.71585268756884,4.71804045909197,4.7515940151235,4.80488290419398
1065,"Population ages 35-39, female (% of female pop...",SP.POP.3539.FE.5Y,Albania,ALB,7.16837578976695,7.08393292608177,7.03083483961655,6.9931180518793,6.95737051456806,6.93353986696033,...,6.0999880359753,5.97287728268276,5.85788424070203,5.76986055181376,5.71334984220958,5.68514890711857,5.7013352797457,5.78515995702335,5.8874879063054,5.98087145801764
1066,"Population ages 35-39, female (% of female pop...",SP.POP.3539.FE.5Y,Algeria,DZA,6.11610795084084,6.30368686299651,6.48591481067194,6.651972159028,6.79646815001236,6.91797839101744,...,7.47021884772334,7.55571067366885,7.65786046713784,7.77006096538213,7.88653802264215,7.99485170766425,8.07931268029942,8.13132589592302,8.14971869971933,8.12955305068334
1067,"Population ages 35-39, female (% of female pop...",SP.POP.3539.FE.5Y,American Samoa,ASM,7.19235615287694,7.19733328679383,7.16944857117889,7.12983415728761,7.05656522964215,6.95713779667021,...,6.37978858984931,6.35796499611279,6.30152781781493,6.21756603847204,6.08338622659473,5.89601211509339,5.69575957184026,5.51374758261162,5.35917656918151,5.2404818429614
1068,"Population ages 35-39, female (% of female pop...",SP.POP.3539.FE.5Y,Andorra,AND,10.1313969571231,10.1409571618788,10.04959502289,9.92291105881027,9.81506858608198,9.7807138269566,...,9.98078428581595,9.79376335867057,9.53964987455248,9.2218128638524,9.012182387748,8.84478762360621,8.58225620897341,8.25433649320694,7.8969134424766,7.5219465525489
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1325,"Population ages 35-39, female (% of female pop...",SP.POP.3539.FE.5Y,Sub-Saharan Africa,SSF,5.13888638863968,5.15522484521227,5.16714549350856,5.17519578623597,5.18004712833415,5.18047342778829,...,5.15681321555837,5.1964208711827,5.25331394188881,5.32233689875097,5.39498828064873,5.46240129849766,5.52046436327977,5.56813150702135,5.60917615045195,5.64604883819272
1326,"Population ages 35-39, female (% of female pop...",SP.POP.3539.FE.5Y,Sub-Saharan Africa (excluding high income),SSA,5.13853273075693,5.15487409061254,5.16679574553202,5.17487158096574,5.17974613609327,5.18019240960155,...,5.15653697988609,5.19614854440322,5.25304913755568,5.32208678543017,5.39475573120403,5.4621956543308,5.52029592661055,5.56799269609958,5.60906372828623,5.64596018517973
1327,"Population ages 35-39, female (% of female pop...",SP.POP.3539.FE.5Y,Sub-Saharan Africa (IDA & IBRD countries),TSS,5.13888638863968,5.15522484521227,5.16714549350856,5.17519578623597,5.18004712833415,5.18047342778829,...,5.15681321555837,5.1964208711827,5.25331394188881,5.32233689875097,5.39498828064873,5.46240129849766,5.52046436327977,5.56813150702135,5.60917615045195,5.64604883819272
1328,"Population ages 35-39, female (% of female pop...",SP.POP.3539.FE.5Y,Upper middle income,UMC,7.76872825526907,8.18557805597811,8.39374593176376,8.36309574821524,8.33786435241618,8.36715484615427,...,7.45875616364837,7.2080286475908,7.03114448779065,6.96622966132034,6.98921869338422,7.09857429783836,7.22193054491619,7.29926249009589,7.37916354280911,7.48136873070669
1329,"Population ages 35-39, female (% of female pop...",SP.POP.3539.FE.5Y,World,WLD,6.9562125430424,7.10436680864558,7.17123268854337,7.14908602431896,7.12895718526047,7.13546365309612,...,6.79739965772481,6.7084688037827,6.65446874140401,6.65133805016016,6.68718080894101,6.75690552979866,6.83169940351383,6.88568040676382,6.93412631333827,6.98788856024411

,Series Name,Series Code,Country Name,Country Code,2000 [YR2000],2001 [YR2001],2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],...,2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021]
1330,"Population ages 40-44, female (% of female pop...",SP.POP.4044.FE.5Y,Afghanistan,AFG,3.75487494732739,3.7523105398193,3.75208330249665,3.75482534258054,3.76082953940376,3.77994672760603,...,3.87070128283145,3.89231900339581,3.91904167620714,3.93726108119723,3.9448806952287,3.95634685577212,3.96590182076931,3.97308444825429,3.98353624727891,3.98852160338865
1331,"Population ages 40-44, female (% of female pop...",SP.POP.4044.FE.5Y,Albania,ALB,6.66558009111029,6.83872070954062,6.94414022496792,7.00072188267001,7.01855060917338,6.99924616538305,...,6.78786743860635,6.63483921274831,6.45734694012435,6.27156637248525,6.10659016053339,5.96853946979506,5.841988182231,5.72502888103244,5.64140978723122,5.59875555991055
1332,"Population ages 40-44, female (% of female pop...",SP.POP.4044.FE.5Y,Algeria,DZA,4.97316404997527,5.06435302022664,5.17027183465754,5.29706615797113,5.44434120737906,5.60444653742573,...,6.3933690863383,6.45059431580445,6.50408232373778,6.55774112861314,6.61373658160801,6.67822754071223,6.76145537697081,6.8650183470479,6.98651115673132,7.11841986645788
1333,"Population ages 40-44, female (% of female pop...",SP.POP.4044.FE.5Y,American Samoa,ASM,5.75388492230155,5.96345485959615,6.17670191383378,6.38126292906981,6.53705269089884,6.6400991852639,...,6.30856885823525,6.20816504541403,6.13433266070914,6.06929650005853,6.06751824817518,6.1120646138314,6.12391930835735,6.08761456318843,6.0210155360251,5.89993845071661
1334,"Population ages 40-44, female (% of female pop...",SP.POP.4044.FE.5Y,Andorra,AND,8.61153024016095,8.78648280506283,8.89922526118089,9.02941217920713,9.15973569596896,9.26952669314354,...,9.46551846843641,9.46820105595425,9.4790403969216,9.65070169024383,9.7152801949182,9.66082865881256,9.5269675847601,9.30496113488794,9.05617771009203,8.90532276623528
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1591,"Population ages 40-44, female (% of female pop...",SP.POP.4044.FE.5Y,Sub-Saharan Africa,SSF,4.18904809239028,4.20272481702619,4.21789591921975,4.23214595674758,4.24433677584981,4.25501852341496,...,4.29536224141826,4.29368527224467,4.29278879901018,4.2980264348345,4.31246560630397,4.33990550099127,4.3833881459037,4.44067920906433,4.50740443580266,4.57743210524958
1592,"Population ages 40-44, female (% of female pop...",SP.POP.4044.FE.5Y,Sub-Saharan Africa (excluding high income),SSA,4.18878832418146,4.20243868855899,4.21757967305898,4.23181288749045,4.24398952215662,4.25466615347983,...,4.29510370842947,4.29342498187942,4.29252182627553,4.29774435784705,4.31217534601829,4.33962047374932,4.38310897289777,4.44040844987701,4.50714920531222,4.57719207815051
1593,"Population ages 40-44, female (% of female pop...",SP.POP.4044.FE.5Y,Sub-Saharan Africa (IDA & IBRD countries),TSS,4.18904809239028,4.20272481702619,4.21789591921975,4.23214595674758,4.24433677584981,4.25501852341496,...,4.29536224141826,4.29368527224467,4.29278879901018,4.2980264348345,4.31246560630397,4.33990550099127,4.3833881459037,4.44067920906433,4.50740443580266,4.57743210524958
1594,"Population ages 40-44, female (% of female pop...",SP.POP.4044.FE.5Y,Upper middle income,UMC,6.49959960758678,6.31708282556024,6.27796658969991,6.53328851305995,6.94422773078958,7.35121643806525,...,7.99613587082642,7.95133479810891,7.80906031291311,7.59827847543046,7.34980724096049,7.1083252122518,6.88294167173328,6.73107752237322,6.68913191506201,6.73729176721875
1595,"Population ages 40-44, female (% of female pop...",SP.POP.4044.FE.5Y,World,WLD,6.06159704822972,6.0087116834287,6.0061643249278,6.11340374021201,6.27713108603581,6.43099642829179,...,6.6510479528999,6.63851467536187,6.59041958336717,6.51574255860812,6.42320903774425,6.33517578560021,6.25955372985342,6.21863946587618,6.22915947921832,6.28029515451651

In [17]:
dataset_women_15_19_unpivot = pd.melt(
                                                        dataset_women_15_19,
                                                        id_vars = ["Country Name","Country Code","Series Name","Series Code"],
                                                        var_name = "Year",
                                                        value_name="15_to_19_women_rate"    
                                                                )
display(dataset_women_15_19_unpivot)

dataset_women_20_24_unpivot = pd.melt(
                                                        dataset_women_20_24,
                                                        id_vars = ["Country Name","Country Code","Series Name","Series Code"],
                                                        var_name = "Year",
                                                        value_name="20_to_24_women_rate"    
                                                                )
display(dataset_women_20_24_unpivot)

dataset_women_25_29_unpivot = pd.melt(
                                                        dataset_women_25_29,
                                                        id_vars = ["Country Name","Country Code","Series Name","Series Code"],
                                                        var_name = "Year",
                                                        value_name="25_to_29_women_rate"    
                                                                )
display(dataset_women_25_29_unpivot)

dataset_women_30_34_unpivot = pd.melt(
                                                        dataset_women_30_34,
                                                        id_vars = ["Country Name","Country Code","Series Name","Series Code"],
                                                        var_name = "Year",
                                                        value_name="30_to_34_women_rate"    
                                                                )
display(dataset_women_30_34_unpivot)

dataset_women_35_39_unpivot = pd.melt(
                                                        dataset_women_35_39,
                                                        id_vars = ["Country Name","Country Code","Series Name","Series Code"],
                                                        var_name = "Year",
                                                        value_name="35_to_39_women_rate"    
                                                                )
display(dataset_women_35_39_unpivot)

dataset_women_40_44_unpivot = pd.melt(
                                                        dataset_women_40_44,
                                                        id_vars = ["Country Name","Country Code","Series Name","Series Code"],
                                                        var_name = "Year",
                                                        value_name="40_to_44_women_rate"    
                                                                )
display(dataset_women_40_44_unpivot)

,Country Name,Country Code,Series Name,Series Code,Year,15_to_19_women_rate
0,Afghanistan,AFG,"Population ages 15-19, female (% of female pop...",SP.POP.1519.FE.5Y,2000 [YR2000],9.89889942381122
1,Albania,ALB,"Population ages 15-19, female (% of female pop...",SP.POP.1519.FE.5Y,2000 [YR2000],9.69977481085171
2,Algeria,DZA,"Population ages 15-19, female (% of female pop...",SP.POP.1519.FE.5Y,2000 [YR2000],12.1738698144347
3,American Samoa,ASM,"Population ages 15-19, female (% of female pop...",SP.POP.1519.FE.5Y,2000 [YR2000],8.55907881842363
4,Andorra,AND,"Population ages 15-19, female (% of female pop...",SP.POP.1519.FE.5Y,2000 [YR2000],5.15843078083742
...,...,...,...,...,...,...
5847,Sub-Saharan Africa,SSF,"Population ages 15-19, female (% of female pop...",SP.POP.1519.FE.5Y,2021 [YR2021],10.5785150530678
5848,Sub-Saharan Africa (excluding high income),SSA,"Population ages 15-19, female (% of female pop...",SP.POP.1519.FE.5Y,2021 [YR2021],10.5788226645879
5849,Sub-Saharan Africa (IDA & IBRD countries),TSS,"Population ages 15-19, female (% of female pop...",SP.POP.1519.FE.5Y,2021 [YR2021],10.5785150530678
5850,Upper middle income,UMC,"Population ages 15-19, female (% of female pop...",SP.POP.1519.FE.5Y,2021 [YR2021],6.26209072483222
5851,World,WLD,"Population ages 15-19, female (% of female pop...",SP.POP.1519.FE.5Y,2021 [YR2021],7.67690986902802

,Country Name,Country Code,Series Name,Series Code,Year,20_to_24_women_rate
0,Afghanistan,AFG,"Population ages 20-24, female (% of female pop...",SP.POP.2024.FE.5Y,2000 [YR2000],8.40455979573872
1,Albania,ALB,"Population ages 20-24, female (% of female pop...",SP.POP.2024.FE.5Y,2000 [YR2000],7.94067546772091
2,Algeria,DZA,"Population ages 20-24, female (% of female pop...",SP.POP.2024.FE.5Y,2000 [YR2000],10.5056950530292
3,American Samoa,ASM,"Population ages 20-24, female (% of female pop...",SP.POP.2024.FE.5Y,2000 [YR2000],7.60009799804004
4,Andorra,AND,"Population ages 20-24, female (% of female pop...",SP.POP.2024.FE.5Y,2000 [YR2000],6.16591223437697
...,...,...,...,...,...,...
5847,Sub-Saharan Africa,SSF,"Population ages 20-24, female (% of female pop...",SP.POP.2024.FE.5Y,2021 [YR2021],8.97399235193276
5848,Sub-Saharan Africa (excluding high income),SSA,"Population ages 20-24, female (% of female pop...",SP.POP.2024.FE.5Y,2021 [YR2021],8.97419225249797
5849,Sub-Saharan Africa (IDA & IBRD countries),TSS,"Population ages 20-24, female (% of female pop...",SP.POP.2024.FE.5Y,2021 [YR2021],8.97399235193276
5850,Upper middle income,UMC,"Population ages 20-24, female (% of female pop...",SP.POP.2024.FE.5Y,2021 [YR2021],6.37934123211046
5851,World,WLD,"Population ages 20-24, female (% of female pop...",SP.POP.2024.FE.5Y,2021 [YR2021],7.4022868597785

,Country Name,Country Code,Series Name,Series Code,Year,25_to_29_women_rate
0,Afghanistan,AFG,"Population ages 25-29, female (% of female pop...",SP.POP.2529.FE.5Y,2000 [YR2000],7.02239137311269
1,Albania,ALB,"Population ages 25-29, female (% of female pop...",SP.POP.2529.FE.5Y,2000 [YR2000],7.35694754956436
2,Algeria,DZA,"Population ages 25-29, female (% of female pop...",SP.POP.2529.FE.5Y,2000 [YR2000],8.86357422565493
3,American Samoa,ASM,"Population ages 25-29, female (% of female pop...",SP.POP.2529.FE.5Y,2000 [YR2000],7.45135097298054
4,Andorra,AND,"Population ages 25-29, female (% of female pop...",SP.POP.2529.FE.5Y,2000 [YR2000],8.70269080849994
...,...,...,...,...,...,...
5847,Sub-Saharan Africa,SSF,"Population ages 25-29, female (% of female pop...",SP.POP.2529.FE.5Y,2021 [YR2021],7.71696029348695
5848,Sub-Saharan Africa (excluding high income),SSA,"Population ages 25-29, female (% of female pop...",SP.POP.2529.FE.5Y,2021 [YR2021],7.71698162020497
5849,Sub-Saharan Africa (IDA & IBRD countries),TSS,"Population ages 25-29, female (% of female pop...",SP.POP.2529.FE.5Y,2021 [YR2021],7.71696029348695
5850,Upper middle income,UMC,"Population ages 25-29, female (% of female pop...",SP.POP.2529.FE.5Y,2021 [YR2021],6.88624661774718
5851,World,WLD,"Population ages 25-29, female (% of female pop...",SP.POP.2529.FE.5Y,2021 [YR2021],7.34865091180304

,Country Name,Country Code,Series Name,Series Code,Year,30_to_34_women_rate
0,Afghanistan,AFG,"Population ages 30-34, female (% of female pop...",SP.POP.3034.FE.5Y,2000 [YR2000],5.75070308107671
1,Albania,ALB,"Population ages 30-34, female (% of female pop...",SP.POP.3034.FE.5Y,2000 [YR2000],7.26626108104503
2,Algeria,DZA,"Population ages 30-34, female (% of female pop...",SP.POP.3034.FE.5Y,2000 [YR2000],7.54835465559525
3,American Samoa,ASM,"Population ages 30-34, female (% of female pop...",SP.POP.3034.FE.5Y,2000 [YR2000],7.51959960800784
4,Andorra,AND,"Population ages 30-34, female (% of female pop...",SP.POP.3034.FE.5Y,2000 [YR2000],10.2209857915252
...,...,...,...,...,...,...
5847,Sub-Saharan Africa,SSF,"Population ages 30-34, female (% of female pop...",SP.POP.3034.FE.5Y,2021 [YR2021],6.67495178631377
5848,Sub-Saharan Africa (excluding high income),SSA,"Population ages 30-34, female (% of female pop...",SP.POP.3034.FE.5Y,2021 [YR2021],6.67493081795905
5849,Sub-Saharan Africa (IDA & IBRD countries),TSS,"Population ages 30-34, female (% of female pop...",SP.POP.3034.FE.5Y,2021 [YR2021],6.67495178631377
5850,Upper middle income,UMC,"Population ages 30-34, female (% of female pop...",SP.POP.3034.FE.5Y,2021 [YR2021],8.06754346981011
5851,World,WLD,"Population ages 30-34, female (% of female pop...",SP.POP.3034.FE.5Y,2021 [YR2021],7.53921268292502

,Country Name,Country Code,Series Name,Series Code,Year,35_to_39_women_rate
0,Afghanistan,AFG,"Population ages 35-39, female (% of female pop...",SP.POP.3539.FE.5Y,2000 [YR2000],4.65441368995515
1,Albania,ALB,"Population ages 35-39, female (% of female pop...",SP.POP.3539.FE.5Y,2000 [YR2000],7.16837578976695
2,Algeria,DZA,"Population ages 35-39, female (% of female pop...",SP.POP.3539.FE.5Y,2000 [YR2000],6.11610795084084
3,American Samoa,ASM,"Population ages 35-39, female (% of female pop...",SP.POP.3539.FE.5Y,2000 [YR2000],7.19235615287694
4,Andorra,AND,"Population ages 35-39, female (% of female pop...",SP.POP.3539.FE.5Y,2000 [YR2000],10.1313969571231
...,...,...,...,...,...,...
5847,Sub-Saharan Africa,SSF,"Population ages 35-39, female (% of female pop...",SP.POP.3539.FE.5Y,2021 [YR2021],5.64604883819272
5848,Sub-Saharan Africa (excluding high income),SSA,"Population ages 35-39, female (% of female pop...",SP.POP.3539.FE.5Y,2021 [YR2021],5.64596018517973
5849,Sub-Saharan Africa (IDA & IBRD countries),TSS,"Population ages 35-39, female (% of female pop...",SP.POP.3539.FE.5Y,2021 [YR2021],5.64604883819272
5850,Upper middle income,UMC,"Population ages 35-39, female (% of female pop...",SP.POP.3539.FE.5Y,2021 [YR2021],7.48136873070669
5851,World,WLD,"Population ages 35-39, female (% of female pop...",SP.POP.3539.FE.5Y,2021 [YR2021],6.98788856024411

,Country Name,Country Code,Series Name,Series Code,Year,40_to_44_women_rate
0,Afghanistan,AFG,"Population ages 40-44, female (% of female pop...",SP.POP.4044.FE.5Y,2000 [YR2000],3.75487494732739
1,Albania,ALB,"Population ages 40-44, female (% of female pop...",SP.POP.4044.FE.5Y,2000 [YR2000],6.66558009111029
2,Algeria,DZA,"Population ages 40-44, female (% of female pop...",SP.POP.4044.FE.5Y,2000 [YR2000],4.97316404997527
3,American Samoa,ASM,"Population ages 40-44, female (% of female pop...",SP.POP.4044.FE.5Y,2000 [YR2000],5.75388492230155
4,Andorra,AND,"Population ages 40-44, female (% of female pop...",SP.POP.4044.FE.5Y,2000 [YR2000],8.61153024016095
...,...,...,...,...,...,...
5847,Sub-Saharan Africa,SSF,"Population ages 40-44, female (% of female pop...",SP.POP.4044.FE.5Y,2021 [YR2021],4.57743210524958
5848,Sub-Saharan Africa (excluding high income),SSA,"Population ages 40-44, female (% of female pop...",SP.POP.4044.FE.5Y,2021 [YR2021],4.57719207815051
5849,Sub-Saharan Africa (IDA & IBRD countries),TSS,"Population ages 40-44, female (% of female pop...",SP.POP.4044.FE.5Y,2021 [YR2021],4.57743210524958
5850,Upper middle income,UMC,"Population ages 40-44, female (% of female pop...",SP.POP.4044.FE.5Y,2021 [YR2021],6.73729176721875
5851,World,WLD,"Population ages 40-44, female (% of female pop...",SP.POP.4044.FE.5Y,2021 [YR2021],6.28029515451651

In [18]:
dataset_women_15_19_unpivot["Year"] = dataset_women_15_19_unpivot["Year"].apply(lambda x : x[:4])
display(dataset_women_15_19_unpivot)
dataset_women_20_24_unpivot["Year"] = dataset_women_20_24_unpivot["Year"].apply(lambda x : x[:4])
display(dataset_women_20_24_unpivot)
dataset_women_25_29_unpivot["Year"] = dataset_women_25_29_unpivot["Year"].apply(lambda x : x[:4])
display(dataset_women_25_29_unpivot)
dataset_women_30_34_unpivot["Year"] = dataset_women_30_34_unpivot["Year"].apply(lambda x : x[:4])
display(dataset_women_30_34_unpivot)
dataset_women_35_39_unpivot["Year"] = dataset_women_35_39_unpivot["Year"].apply(lambda x : x[:4])
display(dataset_women_35_39_unpivot)
dataset_women_40_44_unpivot["Year"] = dataset_women_40_44_unpivot["Year"].apply(lambda x : x[:4])
display(dataset_women_40_44_unpivot)

,Country Name,Country Code,Series Name,Series Code,Year,15_to_19_women_rate
0,Afghanistan,AFG,"Population ages 15-19, female (% of female pop...",SP.POP.1519.FE.5Y,2000,9.89889942381122
1,Albania,ALB,"Population ages 15-19, female (% of female pop...",SP.POP.1519.FE.5Y,2000,9.69977481085171
2,Algeria,DZA,"Population ages 15-19, female (% of female pop...",SP.POP.1519.FE.5Y,2000,12.1738698144347
3,American Samoa,ASM,"Population ages 15-19, female (% of female pop...",SP.POP.1519.FE.5Y,2000,8.55907881842363
4,Andorra,AND,"Population ages 15-19, female (% of female pop...",SP.POP.1519.FE.5Y,2000,5.15843078083742
...,...,...,...,...,...,...
5847,Sub-Saharan Africa,SSF,"Population ages 15-19, female (% of female pop...",SP.POP.1519.FE.5Y,2021,10.5785150530678
5848,Sub-Saharan Africa (excluding high income),SSA,"Population ages 15-19, female (% of female pop...",SP.POP.1519.FE.5Y,2021,10.5788226645879
5849,Sub-Saharan Africa (IDA & IBRD countries),TSS,"Population ages 15-19, female (% of female pop...",SP.POP.1519.FE.5Y,2021,10.5785150530678
5850,Upper middle income,UMC,"Population ages 15-19, female (% of female pop...",SP.POP.1519.FE.5Y,2021,6.26209072483222
5851,World,WLD,"Population ages 15-19, female (% of female pop...",SP.POP.1519.FE.5Y,2021,7.67690986902802

,Country Name,Country Code,Series Name,Series Code,Year,20_to_24_women_rate
0,Afghanistan,AFG,"Population ages 20-24, female (% of female pop...",SP.POP.2024.FE.5Y,2000,8.40455979573872
1,Albania,ALB,"Population ages 20-24, female (% of female pop...",SP.POP.2024.FE.5Y,2000,7.94067546772091
2,Algeria,DZA,"Population ages 20-24, female (% of female pop...",SP.POP.2024.FE.5Y,2000,10.5056950530292
3,American Samoa,ASM,"Population ages 20-24, female (% of female pop...",SP.POP.2024.FE.5Y,2000,7.60009799804004
4,Andorra,AND,"Population ages 20-24, female (% of female pop...",SP.POP.2024.FE.5Y,2000,6.16591223437697
...,...,...,...,...,...,...
5847,Sub-Saharan Africa,SSF,"Population ages 20-24, female (% of female pop...",SP.POP.2024.FE.5Y,2021,8.97399235193276
5848,Sub-Saharan Africa (excluding high income),SSA,"Population ages 20-24, female (% of female pop...",SP.POP.2024.FE.5Y,2021,8.97419225249797
5849,Sub-Saharan Africa (IDA & IBRD countries),TSS,"Population ages 20-24, female (% of female pop...",SP.POP.2024.FE.5Y,2021,8.97399235193276
5850,Upper middle income,UMC,"Population ages 20-24, female (% of female pop...",SP.POP.2024.FE.5Y,2021,6.37934123211046
5851,World,WLD,"Population ages 20-24, female (% of female pop...",SP.POP.2024.FE.5Y,2021,7.4022868597785

,Country Name,Country Code,Series Name,Series Code,Year,25_to_29_women_rate
0,Afghanistan,AFG,"Population ages 25-29, female (% of female pop...",SP.POP.2529.FE.5Y,2000,7.02239137311269
1,Albania,ALB,"Population ages 25-29, female (% of female pop...",SP.POP.2529.FE.5Y,2000,7.35694754956436
2,Algeria,DZA,"Population ages 25-29, female (% of female pop...",SP.POP.2529.FE.5Y,2000,8.86357422565493
3,American Samoa,ASM,"Population ages 25-29, female (% of female pop...",SP.POP.2529.FE.5Y,2000,7.45135097298054
4,Andorra,AND,"Population ages 25-29, female (% of female pop...",SP.POP.2529.FE.5Y,2000,8.70269080849994
...,...,...,...,...,...,...
5847,Sub-Saharan Africa,SSF,"Population ages 25-29, female (% of female pop...",SP.POP.2529.FE.5Y,2021,7.71696029348695
5848,Sub-Saharan Africa (excluding high income),SSA,"Population ages 25-29, female (% of female pop...",SP.POP.2529.FE.5Y,2021,7.71698162020497
5849,Sub-Saharan Africa (IDA & IBRD countries),TSS,"Population ages 25-29, female (% of female pop...",SP.POP.2529.FE.5Y,2021,7.71696029348695
5850,Upper middle income,UMC,"Population ages 25-29, female (% of female pop...",SP.POP.2529.FE.5Y,2021,6.88624661774718
5851,World,WLD,"Population ages 25-29, female (% of female pop...",SP.POP.2529.FE.5Y,2021,7.34865091180304

,Country Name,Country Code,Series Name,Series Code,Year,30_to_34_women_rate
0,Afghanistan,AFG,"Population ages 30-34, female (% of female pop...",SP.POP.3034.FE.5Y,2000,5.75070308107671
1,Albania,ALB,"Population ages 30-34, female (% of female pop...",SP.POP.3034.FE.5Y,2000,7.26626108104503
2,Algeria,DZA,"Population ages 30-34, female (% of female pop...",SP.POP.3034.FE.5Y,2000,7.54835465559525
3,American Samoa,ASM,"Population ages 30-34, female (% of female pop...",SP.POP.3034.FE.5Y,2000,7.51959960800784
4,Andorra,AND,"Population ages 30-34, female (% of female pop...",SP.POP.3034.FE.5Y,2000,10.2209857915252
...,...,...,...,...,...,...
5847,Sub-Saharan Africa,SSF,"Population ages 30-34, female (% of female pop...",SP.POP.3034.FE.5Y,2021,6.67495178631377
5848,Sub-Saharan Africa (excluding high income),SSA,"Population ages 30-34, female (% of female pop...",SP.POP.3034.FE.5Y,2021,6.67493081795905
5849,Sub-Saharan Africa (IDA & IBRD countries),TSS,"Population ages 30-34, female (% of female pop...",SP.POP.3034.FE.5Y,2021,6.67495178631377
5850,Upper middle income,UMC,"Population ages 30-34, female (% of female pop...",SP.POP.3034.FE.5Y,2021,8.06754346981011
5851,World,WLD,"Population ages 30-34, female (% of female pop...",SP.POP.3034.FE.5Y,2021,7.53921268292502

,Country Name,Country Code,Series Name,Series Code,Year,35_to_39_women_rate
0,Afghanistan,AFG,"Population ages 35-39, female (% of female pop...",SP.POP.3539.FE.5Y,2000,4.65441368995515
1,Albania,ALB,"Population ages 35-39, female (% of female pop...",SP.POP.3539.FE.5Y,2000,7.16837578976695
2,Algeria,DZA,"Population ages 35-39, female (% of female pop...",SP.POP.3539.FE.5Y,2000,6.11610795084084
3,American Samoa,ASM,"Population ages 35-39, female (% of female pop...",SP.POP.3539.FE.5Y,2000,7.19235615287694
4,Andorra,AND,"Population ages 35-39, female (% of female pop...",SP.POP.3539.FE.5Y,2000,10.1313969571231
...,...,...,...,...,...,...
5847,Sub-Saharan Africa,SSF,"Population ages 35-39, female (% of female pop...",SP.POP.3539.FE.5Y,2021,5.64604883819272
5848,Sub-Saharan Africa (excluding high income),SSA,"Population ages 35-39, female (% of female pop...",SP.POP.3539.FE.5Y,2021,5.64596018517973
5849,Sub-Saharan Africa (IDA & IBRD countries),TSS,"Population ages 35-39, female (% of female pop...",SP.POP.3539.FE.5Y,2021,5.64604883819272
5850,Upper middle income,UMC,"Population ages 35-39, female (% of female pop...",SP.POP.3539.FE.5Y,2021,7.48136873070669
5851,World,WLD,"Population ages 35-39, female (% of female pop...",SP.POP.3539.FE.5Y,2021,6.98788856024411

,Country Name,Country Code,Series Name,Series Code,Year,40_to_44_women_rate
0,Afghanistan,AFG,"Population ages 40-44, female (% of female pop...",SP.POP.4044.FE.5Y,2000,3.75487494732739
1,Albania,ALB,"Population ages 40-44, female (% of female pop...",SP.POP.4044.FE.5Y,2000,6.66558009111029
2,Algeria,DZA,"Population ages 40-44, female (% of female pop...",SP.POP.4044.FE.5Y,2000,4.97316404997527
3,American Samoa,ASM,"Population ages 40-44, female (% of female pop...",SP.POP.4044.FE.5Y,2000,5.75388492230155
4,Andorra,AND,"Population ages 40-44, female (% of female pop...",SP.POP.4044.FE.5Y,2000,8.61153024016095
...,...,...,...,...,...,...
5847,Sub-Saharan Africa,SSF,"Population ages 40-44, female (% of female pop...",SP.POP.4044.FE.5Y,2021,4.57743210524958
5848,Sub-Saharan Africa (excluding high income),SSA,"Population ages 40-44, female (% of female pop...",SP.POP.4044.FE.5Y,2021,4.57719207815051
5849,Sub-Saharan Africa (IDA & IBRD countries),TSS,"Population ages 40-44, female (% of female pop...",SP.POP.4044.FE.5Y,2021,4.57743210524958
5850,Upper middle income,UMC,"Population ages 40-44, female (% of female pop...",SP.POP.4044.FE.5Y,2021,6.73729176721875
5851,World,WLD,"Population ages 40-44, female (% of female pop...",SP.POP.4044.FE.5Y,2021,6.28029515451651

In [19]:
final_dataset_women_15_19 = dataset_women_15_19_unpivot.drop(['Series Name','Series Code'], axis=1)
display(final_dataset_women_15_19)
final_dataset_women_20_24 = dataset_women_20_24_unpivot.drop(['Series Name','Series Code'], axis=1)
display(final_dataset_women_20_24)
final_dataset_women_25_29 = dataset_women_25_29_unpivot.drop(['Series Name','Series Code'], axis=1)
display(final_dataset_women_25_29)
final_dataset_women_30_34 = dataset_women_30_34_unpivot.drop(['Series Name','Series Code'], axis=1)
display(final_dataset_women_30_34)
final_dataset_women_35_39 = dataset_women_35_39_unpivot.drop(['Series Name','Series Code'], axis=1)
display(final_dataset_women_35_39)
final_dataset_women_40_44 = dataset_women_40_44_unpivot.drop(['Series Name','Series Code'], axis=1)
display(final_dataset_women_40_44)

,Country Name,Country Code,Year,15_to_19_women_rate
0,Afghanistan,AFG,2000,9.89889942381122
1,Albania,ALB,2000,9.69977481085171
2,Algeria,DZA,2000,12.1738698144347
3,American Samoa,ASM,2000,8.55907881842363
4,Andorra,AND,2000,5.15843078083742
...,...,...,...,...
5847,Sub-Saharan Africa,SSF,2021,10.5785150530678
5848,Sub-Saharan Africa (excluding high income),SSA,2021,10.5788226645879
5849,Sub-Saharan Africa (IDA & IBRD countries),TSS,2021,10.5785150530678
5850,Upper middle income,UMC,2021,6.26209072483222
5851,World,WLD,2021,7.67690986902802

,Country Name,Country Code,Year,20_to_24_women_rate
0,Afghanistan,AFG,2000,8.40455979573872
1,Albania,ALB,2000,7.94067546772091
2,Algeria,DZA,2000,10.5056950530292
3,American Samoa,ASM,2000,7.60009799804004
4,Andorra,AND,2000,6.16591223437697
...,...,...,...,...
5847,Sub-Saharan Africa,SSF,2021,8.97399235193276
5848,Sub-Saharan Africa (excluding high income),SSA,2021,8.97419225249797
5849,Sub-Saharan Africa (IDA & IBRD countries),TSS,2021,8.97399235193276
5850,Upper middle income,UMC,2021,6.37934123211046
5851,World,WLD,2021,7.4022868597785

,Country Name,Country Code,Year,25_to_29_women_rate
0,Afghanistan,AFG,2000,7.02239137311269
1,Albania,ALB,2000,7.35694754956436
2,Algeria,DZA,2000,8.86357422565493
3,American Samoa,ASM,2000,7.45135097298054
4,Andorra,AND,2000,8.70269080849994
...,...,...,...,...
5847,Sub-Saharan Africa,SSF,2021,7.71696029348695
5848,Sub-Saharan Africa (excluding high income),SSA,2021,7.71698162020497
5849,Sub-Saharan Africa (IDA & IBRD countries),TSS,2021,7.71696029348695
5850,Upper middle income,UMC,2021,6.88624661774718
5851,World,WLD,2021,7.34865091180304

,Country Name,Country Code,Year,30_to_34_women_rate
0,Afghanistan,AFG,2000,5.75070308107671
1,Albania,ALB,2000,7.26626108104503
2,Algeria,DZA,2000,7.54835465559525
3,American Samoa,ASM,2000,7.51959960800784
4,Andorra,AND,2000,10.2209857915252
...,...,...,...,...
5847,Sub-Saharan Africa,SSF,2021,6.67495178631377
5848,Sub-Saharan Africa (excluding high income),SSA,2021,6.67493081795905
5849,Sub-Saharan Africa (IDA & IBRD countries),TSS,2021,6.67495178631377
5850,Upper middle income,UMC,2021,8.06754346981011
5851,World,WLD,2021,7.53921268292502

,Country Name,Country Code,Year,35_to_39_women_rate
0,Afghanistan,AFG,2000,4.65441368995515
1,Albania,ALB,2000,7.16837578976695
2,Algeria,DZA,2000,6.11610795084084
3,American Samoa,ASM,2000,7.19235615287694
4,Andorra,AND,2000,10.1313969571231
...,...,...,...,...
5847,Sub-Saharan Africa,SSF,2021,5.64604883819272
5848,Sub-Saharan Africa (excluding high income),SSA,2021,5.64596018517973
5849,Sub-Saharan Africa (IDA & IBRD countries),TSS,2021,5.64604883819272
5850,Upper middle income,UMC,2021,7.48136873070669
5851,World,WLD,2021,6.98788856024411

,Country Name,Country Code,Year,40_to_44_women_rate
0,Afghanistan,AFG,2000,3.75487494732739
1,Albania,ALB,2000,6.66558009111029
2,Algeria,DZA,2000,4.97316404997527
3,American Samoa,ASM,2000,5.75388492230155
4,Andorra,AND,2000,8.61153024016095
...,...,...,...,...
5847,Sub-Saharan Africa,SSF,2021,4.57743210524958
5848,Sub-Saharan Africa (excluding high income),SSA,2021,4.57719207815051
5849,Sub-Saharan Africa (IDA & IBRD countries),TSS,2021,4.57743210524958
5850,Upper middle income,UMC,2021,6.73729176721875
5851,World,WLD,2021,6.28029515451651

In [20]:
final_dataset_women_age_ratios = final_dataset_women_15_19.merge(
                                                                 final_dataset_women_20_24,
                                                                 left_on=['Country Name', 'Country Code', 'Year'],
                                                                 right_on=['Country Name', 'Country Code', 'Year'], how='inner'
                                                                ).merge(
                                                                        final_dataset_women_25_29,
                                                                        left_on=['Country Name', 'Country Code', 'Year'],
                                                                        right_on=['Country Name', 'Country Code', 'Year'], how='inner'
                                                                       ).merge(
                                                                               final_dataset_women_30_34,
                                                                               left_on=['Country Name', 'Country Code', 'Year'],
                                                                               right_on=['Country Name', 'Country Code', 'Year'], how='inner'
                                                                              ).merge(
                                                                                      final_dataset_women_35_39,
                                                                                      left_on=['Country Name', 'Country Code', 'Year'],
                                                                                      right_on=['Country Name', 'Country Code', 'Year'], how='inner'
                                                                                     ).merge(
                                                                                             final_dataset_women_40_44,
                                                                                             left_on=['Country Name', 'Country Code', 'Year'],
                                                                                             right_on=['Country Name', 'Country Code', 'Year'], how='inner'
                                                                                            )

display(final_dataset_women_age_ratios)

,Country Name,Country Code,Year,15_to_19_women_rate,20_to_24_women_rate,25_to_29_women_rate,30_to_34_women_rate,35_to_39_women_rate,40_to_44_women_rate
0,Afghanistan,AFG,2000,9.89889942381122,8.40455979573872,7.02239137311269,5.75070308107671,4.65441368995515,3.75487494732739
1,Albania,ALB,2000,9.69977481085171,7.94067546772091,7.35694754956436,7.26626108104503,7.16837578976695,6.66558009111029
2,Algeria,DZA,2000,12.1738698144347,10.5056950530292,8.86357422565493,7.54835465559525,6.11610795084084,4.97316404997527
3,American Samoa,ASM,2000,8.55907881842363,7.60009799804004,7.45135097298054,7.51959960800784,7.19235615287694,5.75388492230155
4,Andorra,AND,2000,5.15843078083742,6.16591223437697,8.70269080849994,10.2209857915252,10.1313969571231,8.61153024016095
...,...,...,...,...,...,...,...,...,...
5847,Sub-Saharan Africa,SSF,2021,10.5785150530678,8.97399235193276,7.71696029348695,6.67495178631377,5.64604883819272,4.57743210524958
5848,Sub-Saharan Africa (excluding high income),SSA,2021,10.5788226645879,8.97419225249797,7.71698162020497,6.67493081795905,5.64596018517973,4.57719207815051
5849,Sub-Saharan Africa (IDA & IBRD countries),TSS,2021,10.5785150530678,8.97399235193276,7.71696029348695,6.67495178631377,5.64604883819272,4.57743210524958
5850,Upper middle income,UMC,2021,6.26209072483222,6.37934123211046,6.88624661774718,8.06754346981011,7.48136873070669,6.73729176721875
5851,World,WLD,2021,7.67690986902802,7.4022868597785,7.34865091180304,7.53921268292502,6.98788856024411,6.28029515451651

In [21]:
final_dataset_women_age_ratios.to_csv("Dataset_women_age_ratios.csv")