In [1]:
import pandas as pd

C:\Users\nigel.zannou\AppData\Local\Temp\ipykernel_5528\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
dataset_65_above = pd.read_csv('population_65_and_above.csv')
display(dataset_65_above)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 67
0,Aruba,ABW,"Population ages 65 and above, total",SP.POP.65UP.TO,1296.0,1374.0,1452.0,1531.0,1610.0,1694.0,...,11741.0,12352.0,13005.0,13690.0,14421.0,15189.0,15921.0,16560.0,17182.0,NaN
1,Africa Eastern and Southern,AFE,"Population ages 65 and above, total",SP.POP.65UP.TO,3884927.0,3963281.0,4045930.0,4133338.0,4229377.0,4334314.0,...,17441074.0,18093144.0,18770674.0,19480189.0,20226622.0,20993902.0,21695439.0,22251609.0,22744374.0,NaN
2,Afghanistan,AFG,"Population ages 65 and above, total",SP.POP.65UP.TO,244277.0,247678.0,251049.0,254483.0,258112.0,262013.0,...,788186.0,812047.0,830919.0,855377.0,883085.0,913174.0,941940.0,964014.0,984763.0,NaN
3,Africa Western and Central,AFW,"Population ages 65 and above, total",SP.POP.65UP.TO,3211093.0,3284876.0,3369164.0,3454519.0,3538245.0,3619685.0,...,11606801.0,11850247.0,12146438.0,12464367.0,12804412.0,13168189.0,13505296.0,13786800.0,14103331.0,NaN
4,Angola,AGO,"Population ages 65 and above, total",SP.POP.65UP.TO,165004.0,168371.0,171032.0,173448.0,175477.0,176948.0,...,693611.0,716362.0,742232.0,770035.0,800457.0,833428.0,865789.0,895190.0,925334.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,"Population ages 65 and above, total",SP.POP.65UP.TO,42376.0,42584.0,43351.0,44319.0,45485.0,46787.0,...,141869.0,145154.0,149013.0,155582.0,162044.0,167970.0,173450.0,177017.0,179589.0,NaN
262,"Yemen, Rep.",YEM,"Population ages 65 and above, total",SP.POP.65UP.TO,209839.0,211794.0,213777.0,215454.0,217275.0,219501.0,...,776036.0,794578.0,811022.0,828051.0,845418.0,863349.0,877605.0,886889.0,897081.0,NaN
263,South Africa,ZAF,"Population ages 65 and above, total",SP.POP.65UP.TO,558526.0,571469.0,586491.0,603925.0,623810.0,646252.0,...,2926780.0,3035329.0,3142859.0,3249695.0,3356734.0,3456202.0,3528430.0,3546983.0,3529541.0,NaN
264,Zambia,ZMB,"Population ages 65 and above, total",SP.POP.65UP.TO,84072.0,86708.0,89689.0,92946.0,96301.0,99747.0,...,264052.0,271859.0,280813.0,290841.0,302103.0,314716.0,327423.0,338624.0,349807.0,NaN
265,Zimbabwe,ZWE,"Population ages 65 and above, total",SP.POP.65UP.TO,126960.0,130711.0,134407.0,138079.0,141761.0,145452.0,...,419578.0,438467.0,457777.0,476921.0,495723.0,513732.0,529049.0,537917.0,542143.0,NaN

In [4]:
dataset_65_above_unpivot = pd.melt(
                                        dataset_65_above,
                                        id_vars = ["Country Name","Country Code","Indicator Name","Indicator Code","Unnamed: 67"],
                                        var_name = "Year",
                                        value_name="Population_65_above"    
                                                                )
display(dataset_65_above_unpivot)

,Country Name,Country Code,Indicator Name,Indicator Code,Unnamed: 67,Year,Population_65_above
0,Aruba,ABW,"Population ages 65 and above, total",SP.POP.65UP.TO,NaN,1960,1296.0
1,Africa Eastern and Southern,AFE,"Population ages 65 and above, total",SP.POP.65UP.TO,NaN,1960,3884927.0
2,Afghanistan,AFG,"Population ages 65 and above, total",SP.POP.65UP.TO,NaN,1960,244277.0
3,Africa Western and Central,AFW,"Population ages 65 and above, total",SP.POP.65UP.TO,NaN,1960,3211093.0
4,Angola,AGO,"Population ages 65 and above, total",SP.POP.65UP.TO,NaN,1960,165004.0
...,...,...,...,...,...,...,...
16753,Kosovo,XKX,"Population ages 65 and above, total",SP.POP.65UP.TO,NaN,2022,179589.0
16754,"Yemen, Rep.",YEM,"Population ages 65 and above, total",SP.POP.65UP.TO,NaN,2022,897081.0
16755,South Africa,ZAF,"Population ages 65 and above, total",SP.POP.65UP.TO,NaN,2022,3529541.0
16756,Zambia,ZMB,"Population ages 65 and above, total",SP.POP.65UP.TO,NaN,2022,349807.0
16757,Zimbabwe,ZWE,"Population ages 65 and above, total",SP.POP.65UP.TO,NaN,2022,542143.0

In [5]:
dataset_65_above = dataset_65_above_unpivot.drop(['Indicator Name','Indicator Code','Unnamed: 67'],axis=1)
display(dataset_65_above)

                      Country Name Country Code  Year  Population_65_above
0                            Aruba          ABW  1960               1296.0
1      Africa Eastern and Southern          AFE  1960            3884927.0
2                      Afghanistan          AFG  1960             244277.0
3       Africa Western and Central          AFW  1960            3211093.0
4                           Angola          AGO  1960             165004.0
...                            ...          ...   ...                  ...
16753                       Kosovo          XKX  2022             179589.0
16754                  Yemen, Rep.          YEM  2022             897081.0
16755                 South Africa          ZAF  2022            3529541.0
16756                       Zambia          ZMB  2022             349807.0
16757                     Zimbabwe          ZWE  2022             542143.0

[16758 rows x 4 columns]

In [6]:
dataset_65_above.to_csv('dataset_65_above.csv')